In [3]:
%load_ext autoreload
%autoreload 2

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [13]:
import sys
from pathlib import Path
sys.path.append("..")

from scripts.data_utils.loaders import load_data
from scripts.data_utils.utils import summarize_data
from scripts.data_utils.cleaning import BrentOilDataPreprocessor

DATAPATH = Path('..', 'resources', 'data')

In [18]:
filepath = Path(DATAPATH, 'raw', 'BrentOilPrices.csv')
df = load_data(filepath)
summarize_data(df)

2025-02-20 10:45:51 - [✅ INFO] - Loading data from ..\resources\data\raw\BrentOilPrices.csv
2025-02-20 10:45:51 - [✅ INFO] - Successfully loaded data from ..\resources\data\raw\BrentOilPrices.csv
2025-02-20 10:45:51 - [✅ INFO] -
--- Data Summary ---
2025-02-20 10:45:51 - [✅ INFO] -         count  unique        top freq       mean       std  min    25%    50%  \
Date     9011    9011  20-May-87    1        NaN       NaN  NaN    NaN    NaN
Price  9011.0    5015        NaN  NaN  48.420782  32.86011  9.1  19.05  38.57

         75%     max    dtype
Date     NaN     NaN   object
Price  70.09  143.95  float64
2025-02-20 10:45:51 - [✅ INFO] -
--- Data Info ---
2025-02-20 10:45:51 - [✅ INFO] - <class 'pandas.core.frame.DataFrame'>
RangeIndex: 9011 entries, 0 to 9010
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Date    9011 non-null   object
 1   Price   9011 non-null   float64
dtypes: float64(1), object(1)
memory usage: 140.9+ KB

2025-02-20 10:45:51 - [✅ INFO] -
--- Missing Values Analysis ---
2025-02-20 10:45:51 - [✅ INFO] - No missing values found in the dataset.
2025-02-20 10:45:51 - [✅ INFO] -
--- Total columns with Missing Values ---
2025-02-20 10:45:51 - [✅ INFO] - 0
2025-02-20 10:45:51 - [✅ INFO] -
--- Duplication Analysis ---
2025-02-20 10:45:51 - [✅ INFO] - No duplicate rows found.
2025-02-20 10:45:51 - [✅ INFO] -
--- Data Skewness ---
2025-02-20 10:45:51 - [✅ INFO] - Price    0.765305
dtype: float64
2025-02-20 10:45:51 - [✅ INFO] -
--- Data Kurtosis ---
2025-02-20 10:45:51 - [✅ INFO] - Price   -0.61044
dtype: float64
2025-02-20 10:45:51 - [✅ INFO] -
--- Correlation Matrix ---
2025-02-20 10:45:51 - [✅ INFO] -        Price
Price    1.0
2025-02-20 10:45:51 - [✅ INFO] -
--- Data Head ---
2025-02-20 10:45:51 - [✅ INFO] -         Date  Price
0  20-May-87  18.63
1  21-May-87  18.45
2  22-May-87  18.55
3  25-May-87  18.60
4  26-May-87  18.63
2025-02-20 10:45:51 - [✅ INFO] -
--- Data Tail ---
2025-02-20 10:45:51 - [✅ INFO] -               Date  Price
9006  Nov 08, 2022  96.85
9007  Nov 09, 2022  93.05
9008  Nov 10, 2022  94.25
9009  Nov 11, 2022  96.37
9010  Nov 14, 2022  93.59
2025-02-20 10:45:51 - [✅ INFO] - Data summary and analysis completed successfully.

In [50]:
preprocessor = BrentOilDataPreprocessor(filepath)
# processed_data = preprocessor.preprocess()
# processed_data

In [51]:
preprocessor.load_data()
preprocessor.get_data()

2025-02-20 11:15:26 - [✅ INFO] - Data loaded successfully. Shape: (9011, 2)

              Date  Price
0        20-May-87  18.63
1        21-May-87  18.45
2        22-May-87  18.55
3        25-May-87  18.60
4        26-May-87  18.63
...            ...    ...
9006  Nov 08, 2022  96.85
9007  Nov 09, 2022  93.05
9008  Nov 10, 2022  94.25
9009  Nov 11, 2022  96.37
9010  Nov 14, 2022  93.59

[9011 rows x 2 columns]

In [52]:
preprocessor.parse_dates()
preprocessor.get_data()

c:\Users\Darkles\10academy\10Academy-Kifiya-Week-10\notebooks\..\scripts\data_utils\cleaning.py:45: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.

2025-02-20 11:15:30 - [✅ INFO] - Date parsing completed.

           Date  Price
0    1987-05-20  18.63
1    1987-05-21  18.45
2    1987-05-22  18.55
3    1987-05-25  18.60
4    1987-05-26  18.63
...         ...    ...
9006 2022-11-08  96.85
9007 2022-11-09  93.05
9008 2022-11-10  94.25
9009 2022-11-11  96.37
9010 2022-11-14  93.59

[9011 rows x 2 columns]

In [53]:
preprocessor.clean_data()
preprocessor.get_data()

2025-02-20 11:15:32 - [✅ INFO] - Data cleaning completed.

           Date  Price
0    1987-05-20  18.63
1    1987-05-21  18.45
2    1987-05-22  18.55
3    1987-05-25  18.60
4    1987-05-26  18.63
...         ...    ...
9006 2022-11-08  96.85
9007 2022-11-09  93.05
9008 2022-11-10  94.25
9009 2022-11-11  96.37
9010 2022-11-14  93.59

[9011 rows x 2 columns]

In [54]:
preprocessor.handle_missing_values()
preprocessor.get_data()

2025-02-20 11:15:35 - [✅ INFO] - Handled missing values.

c:\Users\Darkles\10academy\10Academy-Kifiya-Week-10\notebooks\..\scripts\data_utils\cleaning.py:61: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  return self
c:\Users\Darkles\10academy\10Academy-Kifiya-Week-10\notebooks\..\scripts\data_utils\cleaning.py:62: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.

           Date  Price
0    1987-05-20  18.63
1    1987-05-21  18.45
2    1987-05-22  18.55
3    1987-05-25  18.60
4    1987-05-26  18.63
...         ...    ...
9006 2022-11-08  96.85
9007 2022-11-09  93.05
9008 2022-11-10  94.25
9009 2022-11-11  96.37
9010 2022-11-14  93.59

[9011 rows x 2 columns]

In [55]:
preprocessor.remove_outliers()
preprocessor.get_data()

           Date  Price
0    1987-05-20  18.63
1    1987-05-21  18.45
2    1987-05-22  18.55
3    1987-05-25  18.60
4    1987-05-26  18.63
...         ...    ...
9006 2022-11-08  96.85
9007 2022-11-09  93.05
9008 2022-11-10  94.25
9009 2022-11-11  96.37
9010 2022-11-14  93.59

[9011 rows x 2 columns]

In [58]:
preprocessor.save_data(Path("../resources/data/processed/processed.csv"))